.text-input {
  width: auto;
  .input {
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #F0F2F5;
    display: inline-block;
  }

}