.home {
  display: flex;
  justify-content: center;
  background-color: #F0F2F5;

  @media (max-width: 1000px) {
    .left-nav, .right-nav {
      display: none;
    }
    .contents {
      width: 100%;
    }
  }
  @media (min-width: 1000px) {
    .left-nav, .right-nav {
      width: 25%;
    }
    .contents {
      width: 50%;
    }

  }  
}



