@import '../../../layout';
@import '../../../colors.scss';

.post {
  width: 500px;
  user-select: none;
  img {
    width: 100%
  }

  .post-header {
    @include v-center();
    justify-content: space-between;
    padding: 10px;
    .left {
      display: flex;

      .details {
        @include flex-column();
        align-items: flex-start;
        margin-left: 10px;

        .names {
          font-weight: bold;
          color: rgb(65, 65, 65);
        }
        .time {
          color: rgb(150, 150, 150);
        }
      }
      
    }
    .right {
      @include v-center();
      padding: 10px;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        background-color: $bg-primary-color;
      }
    }
  }

  .caption {
    text-align: left;
    padding: 0 10px 10px;
  }

  .quantities {
    @include h-sb();
    padding: 10px;
    border-top: 1px solid #E5E5E5;
    color: $text-primary-color;

    .link {
      margin: 0 5px;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #000;
        cursor: pointer;
      }
    }

    .left {
      @include v-center();

      .icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }

    .right {
      @include v-center();

      .quantity {
        margin-right: 5px;
      }
    }
  }
  .actions {
    @include h-sb();
    margin: 0 10px;
    padding: 5px 0;
    color: $text-primary-color;
    border: 1px solid #E5E5E5;
    border-width: 1px 0;
    line-height: 1;

    .hover-button {
      width: 33%;
      height: 32px;
      border-radius: 5px;
      @include v-center();

      .icon-container {
        .icon {
          margin-right: 5px;
        }
        .icon.active {
          animation: fadeInBottomRight .2s;
        }
      }

      
    }
  }

  @keyframes fadeInBottomRight {
    from {
      opacity: 0;
      transform: translate3d(200%, 200%, 0) scale(2);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
  
}