.App {
  text-align: center;
}

.main {
  display: flex;
  height: calc(100vh - 60px);

  
}

* {
  box-sizing: border-box;
}

.left-nav, .right-nav {
  width: 20%;
}
.contents {
  width: 50%;
}

@media (max-width: 800px) {
  .left-nav, .right-nav {
    display: none;
  }
  .contents {
    width: 100%;
  }
}