$bg-primary-color: #F0F2F5;
$bg-primary-color2: #00000014;
$bg-secondary-color: #d3d3d3;

$bg-primary-blue: #1877f2;
$bg-hover-primary-blue: #1876f2d3;
$active-icon: #3578E5;

$filter-to-active-color: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
$filter-to-gray: invert(0.39) sepia(0.12);

$bg-tomato-dark-1: #f86d36;
$bg-tomato-tint-1: #F1765E;

$text-primary-color: #65676b;

$shadow-primary: 0 1px 2px rgba(0, 0, 0, 0.233);
$shadow-primary-2: 0px 3px 4px rgb(4 4 4 / 13%);

$shadow-secondary: 0px 3px 5px rgba(0, 0, 0, 0.233);

