@mixin v-center {
  display: flex;
  align-items: center;
}
@mixin h-center {
  display: flex;
  justify-content: center;
}
@mixin fr-h-sb {
  display: flex;
  justify-content: space-between;
}
@mixin fr-h-ss {
  display: flex;
  justify-content: flex-start;
}

@mixin fc-h-ss {
  display: flex;
  align-items: flex-start;
}

@mixin hover-button {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}