.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .badge {
    position: absolute;
    top: -5px;
    left: 26px;
    background-color: #f02849;
    position: absolute;
    font-size: 12px;
    min-width: 19px;
    height: 19px;
    padding: 4px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  &:hover {
    .tooltip {
      display: block;
    }
  }
}